
<form (submit)="loginUser($event)">
<div class="panel">
    <div class="panel-login">
        <i class="fa fa-user-circle-o panel-icon-login" aria-hidden="true"></i>
        <p class="p text-login">Hi there! Please Sign in</p>
    </div>
    <div class="form-group">
        <input class="input-login" name="UserName" placeholder="Email Adress" required>   
        <input class="input-login" name="Password" placeholder="Password" required>
    </div>
    <button class="btn btn-login">
        <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></button>
</div>

</form>